:root {
    --primary: rgb(255, 174, 25);
    --secondary: rgb(104, 230, 104);
    --dark: rgb(38, 30, 24);
    --light: whitesmoke;
    --box: rgb(236, 236, 236);
    --black: rgb(10, 10, 10);

    --navBarHeight: 74px
}