#footer_body {
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

#footer_main {
    width: 80%;
    display: block;
    color: white;

}

a {
    color: var(--secondary);
}

#footer_qoute {
    text-align: center;
    font-size: 8.5vw;
    margin-top: 5px;
    font-family: quish;
    font-weight: lighter;
}

#footer_logo {
    width: 15vw;
    cursor: pointer;
}

#footer_links {
    display: grid;
}

#footer_links div {
    display: flex;
    flex-direction: column;
    grid-row: 1;
}

#footnote {
    display: flex;
    justify-content: space-between;
}