main {
    display: flex;
    align-items: center;
    overflow: hidden;

    background-image: url(/pictures/blog/common/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
article {
    background-color: rgba(255, 255, 255, 0.85);
    width: 50vw;
    padding-left: max(5vw, 30px);
    padding-right: max(5vw, 30px);
    box-shadow: 0px 0px 30px black;

}

@media (max-width: 900px) {
    article {
        width: 95vw;
    }
}

line {
    background-color: var(--secondary) !important;
}

h1 {
    color: var(--primary);
}

#go_to_blog_start {
    text-align: center;
}

#place_of_internship {
    text-align: center;
    color: var(--primary);
}

#place_of_internship > h1 > a {
    color: var(--primary);
    text-decoration-color: var(--secondary);
}

#board_img_wrapper {
    display: flex;
    justify-content: center;
}