contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 10px 5px 15px black;
}


.contact_header_wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.contact_header {
    display: flex;
}

.contact_head {
    color: var(--primary);
}

contact img {
    width: 100px;
    margin-right: 20px;
    height: 100px;
    object-fit: contain;
}

.contact_header :not(.contact_head) {
    font-weight: 650;
}

contact button, contact #_buttonSpacer {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

contact button {
    background-color: var(--primary);
    font-weight: 500;
    font-size: larger;
    border: 4px solid var(--dark);
    border-radius: 10px;
}

main:has(button:hover) button:not(:hover) {
    border: 3px solid gray;
    border-radius: 20px;
}

contact button:nth-child(1) {
    background-color: var(--secondary);
}

@media (max-width: 1150px) {
    contact {
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    contact button, contact #_buttonSpacer{
        width: 25vw;
    }

    .contact_header_wrapper {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0px;

    }

    .contact_header_wrapper > img {
        margin-right: 0px;
    }
}

@media (max-width: 440px) {
    contact > div:has(button) {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    contact button, contact #_buttonSpacer {
        width: 50vw;
    }
}
