body {
    background-image: url(../../pictures/bodybackground.jpg);
    margin: 0;
}

nav button {
    border: 7px solid rgb(0, 255, 0);

}

header h1 {
    background-color: rgb(0, 255, 0);
}

blockquote {
    font-style: italic;
}
blockquote a {
    color: rgb(0, 255, 0);
    font-weight: bold;
}

a h3 {
    color: rgb(0, 255, 0);
    outline: none;
    text-decoration: underline rgb(0, 255, 0);
}