main {
    display: flex;
    align-items: center;
    overflow: hidden;
}
article {

    width: 50vw;
}

@media (max-width: 900px) {
    article {
        width: 95vw;
    }
}

line {
    background-color: var(--secondary) !important;
}

h1 {
    color: var(--primary);
}

#go_to_blog_start {
    text-align: center;
}

#place_of_internship {
    text-align: center;
    color: var(--primary);
}

#place_of_internship > h1 > a {
    color: var(--primary);
    text-decoration-color: var(--secondary);
}

#board_img_wrapper {
    display: flex;
    justify-content: center;
}